[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
"enum34" = "*"
jsonfield = "*"
django = "==1.*"
coverage = "*"
pluggy = "*"
pytest-metadata = "*"
urllib3 = "*"

[dev-packages]
ipython = "*"
ipdb = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
"flake8" = "*"
pytest-pythonpath = "*"
twine = "*"
wheel = "*"
pdoc = "*"
factory-boy = "*"
