[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Django = "*"
djangorestframework = "*"
"enum34" = "*"
jsonfield = "*"


[dev-packages]

ipython = "*"
ipdb = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
"flake8" = "*"
pytest-pythonpath = "*"
twine = "*"
wheel = "*"
Sphinx = "*"
sphinx_rtd_theme = "*"
